<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Chinmay-apcs/src/SheetsAPI.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <listAttribute key="org.eclipse.jdt.launching.CLASSPATH">
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry path=&quot;5&quot; projectName=&quot;Chinmay-apcs&quot; type=&quot;1&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/chinmaydevadhar/Downloads/json-20200518.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/chinmaydevadhar/Downloads/sheets/google-api-services-sheets-v4-rev612-1.25.0.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/chinmaydevadhar/Downloads/sheets/libs/google-api-client-1.25.0.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/chinmaydevadhar/Downloads/sheets/libs/google-api-client-android-1.25.0.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/chinmaydevadhar/Downloads/sheets/libs/google-api-client-appengine-1.25.0.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/chinmaydevadhar/Downloads/sheets/libs/google-api-client-gson-1.25.0.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/chinmaydevadhar/Downloads/sheets/libs/google-api-client-jackson2-1.25.0.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/chinmaydevadhar/Downloads/sheets/libs/google-api-client-java6-1.25.0.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/chinmaydevadhar/Downloads/sheets/libs/google-api-client-servlet-1.25.0.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/chinmaydevadhar/Downloads/sheets/libs/google-http-client-1.25.0.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/chinmaydevadhar/Downloads/sheets/libs/google-http-client-android-1.25.0.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/chinmaydevadhar/Downloads/sheets/libs/google-http-client-appengine-1.25.0.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/chinmaydevadhar/Downloads/sheets/libs/google-http-client-gson-1.25.0.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/chinmaydevadhar/Downloads/sheets/libs/google-http-client-jackson2-1.25.0.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/chinmaydevadhar/Downloads/sheets/libs/google-http-client-jdo-1.25.0.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/chinmaydevadhar/Downloads/sheets/libs/google-oauth-client-1.25.0.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/chinmaydevadhar/Downloads/sheets/libs/google-oauth-client-appengine-1.25.0.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/chinmaydevadhar/Downloads/sheets/libs/google-oauth-client-java6-1.25.0.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/chinmaydevadhar/Downloads/sheets/libs/google-oauth-client-jetty-1.25.0.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/chinmaydevadhar/Downloads/sheets/libs/google-oauth-client-servlet-1.25.0.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/chinmaydevadhar/Downloads/sheets/libs/gson-2.1.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/chinmaydevadhar/Downloads/sheets/libs/httpclient-4.5.5.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/chinmaydevadhar/Downloads/sheets/libs/jackson-core-2.9.6.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/chinmaydevadhar/Downloads/sheets/libs/jdo2-api-2.3-eb.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/chinmaydevadhar/Downloads/sheets/libs/jetty-6.1.26.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/chinmaydevadhar/Downloads/sheets/libs/jetty-util-6.1.26.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/chinmaydevadhar/Downloads/sheets/libs/jsr305-3.0.2.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/chinmaydevadhar/Downloads/sheets/libs/transaction-api-1.1.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry containerPath=&quot;org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-12&quot; path=&quot;5&quot; type=&quot;4&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/chinmaydevadhar/Downloads/guava-29.0-jre.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/chinmaydevadhar/Downloads/servlet-api-2.5.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="SheetsAPI"/>
    <listAttribute key="org.eclipse.jdt.launching.MODULEPATH"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Chinmay-apcs"/>
</launchConfiguration>
